@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(180deg, #4a4a4a 40%, black 100%);
  padding: 18px 24px;
  max-width: 300px;
  justify-content: center;
}


.image {
  margin-bottom: 26px;
  align-items: center;
  border-radius: 10px;
  height: 150px;
  object-fit: cover;
  width: 100%;
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.image:hover {
  transform: scale(1.1); /* Scales the image up by 10% */
}


.title {
  font-size: 25px;
  font-weight: 900;
  color: white;
}

.description {
  margin-top: 6px;
  font-size: 15px;
  font-weight: 400;
  color: white;
}


