@import "../../vars.css";
.iconRow {
    display: flex;
    align-items: center; /* Center the icons vertically */
    gap: 20px; /* Equal spacing between icons */
    margin-top: 20px; /* Add some spacing above the row */
}

.icon {
    color: white; /* Default icon color */
    font-size: 2rem; /* Adjust icon size */
    text-decoration: none;
}


.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
    z-index: 1;
    margin-left: 8%;
}

.content {
    flex: 1;
    color: var(--color-text);
    padding: 20px;
}

.model {
    flex: 1;
    z-index: 4;
}

.title {
    font-size: 65px;
    font-weight: 1000;
    margin-bottom: 35px;
    font-family: var(--font-roboto);
    overflow: hidden; /* Ensures text doesn't overflow */
    white-space: nowrap; /* Prevents wrapping */
}
.desc {
    font-size: 25px;
    font-family: var(--font-roboto);
    margin-bottom: 50px;
    text-wrap: wrap;
    z-index: 4;
}

.contactbtn {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-weight: 600;
    padding: 20px 25px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    pointer-events: all;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contactbtn:hover {
    background-color: var(--color-text);
    color: var(--color-primary);
}

.image {
    width: 50%;
    z-index: 1;
}

.topblur {
    position: absolute;
    width: 50%;
    height: 50%;
    min-width: 350px;
    min-height: 350px;
    top: -100px;
    left: 40vw;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(200px);
    z-index: 1;
}

.bottomblur {
    position: absolute;
    width: 50%;
    height: 50%;
    min-width: 350px;
    min-height: 350px;
    bottom: -100px;
    left: 20vw;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(200px);
    z-index: 1;
}
.cursor {
    display: inline-block;
    width: 0.15em;
    background-color: var(--color-text);
    animation: blink 0.7s step-end infinite;
}

/* Typing effect */
@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

/* Blinking caret */
@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: var(--color-text);
    }
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 830px) {
    .model {
        display: none;
    }

    .title {
        font-size: 35px;
    }

    .desc {
        font-size: 20px;
    }

    .bottomblur {
        display: none;
    }

    .topblur {
        display: none;
    }
    .text{
        font-size: 35px;
    }
}
