@import "../../vars.css";
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  padding-top: 100px;
}

.contactHeader {
  grid-column: 1 / -1;
}

.contactHeader h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: var(--color-text);
}

.contactHeader p {
  color: #666;
  font-size: 1.2rem;
  color: var(--color-text);
}

.contactForm {
  grid-column: 1 / 2;
}

.formRow {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.formRow input {
  flex: 1;
  padding: 0.8rem;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
}

textarea {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.sendButton {
  background-color: var(--color-primary);
  color: white;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

.contactInfo {
  grid-column: 2 / 2;
  padding-left: 100px;
  color: var(--color-text);
  padding: 30px;
  border-radius: 10px;
}

.contactInfo h2 {
  background:#19376d;
  padding: 10px;
  border-radius: 10px;
  color: var(--color-text);
}

.contacticon {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  padding: 3px;
}

.details, .spaces, .location {
  margin-bottom: 2rem;
}

.details h2, .spaces h2, .location h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.spaces ul {
  list-style: none;
  padding: 0;
}

.spaces ul li {
  margin-bottom: 0.5rem;
}

a {
  color: var(--color-text);
  text-decoration: none;
  padding-left: 8px;
  font-size: 1.2rem;
}

a:hover {
  text-decoration: underline;
}
