@import "../../vars.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
    z-index: 2;
}

.menu{
    display: flex;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeDown 0.8s ease-out forwards;
}

.menuItems{
    display: flex;
    gap: 50px;
    list-style: none;
    margin-top: 20px;
}

.menuItems a{
    position: relative;
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.menuItem:hover{
    transform: translateY(-5px);
}

.menuItems a:not(.resume)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-text);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.menuItems a:not(.resume):hover::after {
    transform: scaleX(1);
}

.resume{
    background: var(--color-bg);
    border-radius: 100px;
    padding: 10px 20px;
    color: var(--color-text);
    text-decoration: none;
}


.menuBtn{
    display: none;
}

.title {
    position: relative;
    font-size: 35px;
    color: var(--color-text);
    text-decoration: none;
    margin-top: 15px;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeDown 0.8s ease-out forwards;
}
@keyframes fadeDown {
    0% {
        opacity: 0; /* Fully transparent */
        transform: translateY(-20px); /* Slightly above */
    }
    100% {
        opacity: 1; /* Fully visible */
        transform: translateY(0); /* Normal position */
    }
}


@media screen and (max-width: 830px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .menu{
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        z-index: 3;
    }

    .menuBtn{
        display: block;
        cursor: pointer;
        margin-top: 15px;
        margin-right: -50px;
    }

    .menuItems{
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        border-radius: 10px;
        background: rgba(25, 55, 109);
        background: linear-gradient(0deg,rgba(25,55,109,0.2) 0%, rgba(25,55,109,1) 100%);
        padding: 24px 33px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }

    .menuOpen{
        display: flex;
        z-index: 1;
    }


}